<template>
  <v-card outlined>
  <v-card-title>
    Catalogo de productos
  </v-card-title>

  <v-divider/>

  <v-card-text>
  
  <!--Buscador--> 

  <v-row>
        <v-col cols="10" md="10" sm="11">
          <v-text-field
              v-model="txtBuscar"
              label="Buscar"
              outlined
              dense
          ></v-text-field>
        </v-col>
         <v-col cols="2" md="2" sm="12" >
           <v-btn 
    color="error"
    @click="getProductos" 
     class="mx-"
 >
      Buscar
    </v-btn>
        </v-col>
      </v-row>

<v-row>
 <v-col cols="12" md="3" sm="6" v-for="(row, index) in productos" :key="index">
  <producto></producto>
 </v-col>
</v-row>

  </v-card-text>

  </v-card>
</template>

<script>
  import Producto from "../components/producto";
export default {
    name: 'Home',
    components: {Producto},
    data:() =>({
      productos:[
        {id: 1},
        {id: 2},
        {id: 3},
        {id: 4},
        {id: 5},
        {id: 6},
      ]
    })
}
</script>