<template>
  <v-card
    class="mx-auto my-12"
    max-width="400"
    
  >
    <v-card-title>
      <h2 class="text-h4">
        Precio actual
      </h2>
      <v-spacer></v-spacer>
      <span class="text-h6">Precio anterior</span>
    </v-card-title>

  <v-img
      height="270"
      src="https://http2.mlstatic.com/D_921124-MLA44588934450_012021-O.jpg"
    ></v-img>

    <v-card-text>
     <h2 class="text-h5" >Cafe, Sal, Yerba, Azucar</h2>
    </v-card-text>

    <v-divider class="mx-4"></v-divider>

    <v-card-text>

    <v-btn
          class="ma-2"
          text
          icon
          color="blue lighten-2"
        >
          <v-icon>mdi-thumb-up</v-icon>
        </v-btn>
  
        <v-btn
          class="ma-2"
          text
          icon
          color="red lighten-2"
        >
          <v-icon>mdi-thumb-down</v-icon>
        </v-btn>

      <v-chip-group
        v-model="selection"
        active-class="deep-purple--text text--accent-4"
        mandatory
      >
        <v-chip
          v-for="size in sizes"
          :key="size"
          :value="size"
        >
          {{ size }}
        </v-chip>
      </v-chip-group>
    </v-card-text>

    <v-card-actions>
      <v-btn
        block
        class="white--text"
        color="amber"
      >
        Add to Cart
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
    name: "producto"
}
</script>


<style  scoped>

</style>