<template>
  <v-app>
    <v-app-bar
      app
      color="orange lighten-5"
      black
    >
      <div class="d-flex align-center">
        <h2>Ecobolsa</h2>
      </div>

      <v-spacer></v-spacer>

      <v-btn
        href="https://github.com/vuetifyjs/vuetify/releases/latest"
        target="_blank"
        text
      >
      <v-avatar>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTby5vCRVeC7nlAGfw0_QvZHuUDJhHE7GlKlA&usqp=CAU"
        alt="John"
      >
    </v-avatar>


      <span class="mr-2">Carrito</span>

      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
};
</script>
